[2020-03-23 05:11] cbsiddharth opened #1 "PD does not reset connection when CP sends sequence number 0"
This is a placeholder for issue reported by Jonathan (by email).

[code]

[2020-03-29 08:34] chayandashora opened #2 "Unit test produces segmentation fault"
Below is the terminal output:

`chayandashora@linux-ggds:~/Downloads/libosdp_master_sid/build> make && make check`
`[100%] Built target osdp`
`[100%] Built target osdpctl`
`[100%] Built target osdp`
`[100%] Built target osdp-test`
`------------------------------------------`
            `OSDP - Unit Tests`
`------------------------------------------`
`Testing cp_build_packet(CMD_POLL) -- success!`

[2020-03-29 08:54] cbsiddharth commented on #2
@chayandashora, thanks for reporting this issue. Can you provide some information on your dev environment? I'm unable to reproduce it in my Mac or Centos-7 VM. Besides, the CI is building this on ubuntu (trusty) without this issue.

[2020-03-29 10:02] chayandashora commented on #2
@cbsiddharth
I am running OpenSuse Leap 15.1 on Oracle Virtual Box

[2020-03-29 12:04] #2 closed

[2020-03-29 12:06] cbsiddharth commented on #2
@chayandashora, I think this issue is now fixed. Please let me know if it persists.

[2020-04-14 09:08] z8a opened #3 "executable name same as directory name"
Compiling on Linux there is a linker error: /usr/bin/ld: cannot open output file osdpctl: Is a directory.

[2020-04-14 09:44] cbsiddharth commented on #3
@z8a, I think you did a `cmake .` on the root of the repo. This will cause an issue as osdpctl is a directory and it is the name of the binary. Please try:

[code]

[2020-04-14 09:58] z8a commented on #3
You are right, it's written in README.md! Thank you.

[2020-04-14 09:58] #3 closed

[2020-05-16 03:18] cbsiddharth opened #4 "Expose API for CP/PD status - such as SC status."
The API should expose CP/PD status (online/offline) and if a secure channel is established. Could also export some data such as number of failed SC attempts etc.,

[2020-05-21 19:04] z8a opened #5 "osdp_pd_setup doesn't use osdp_pd_info_t.flags field"
When osdp_pd_setup is called the value of flags field is ignored.

[2020-05-22 17:49] cbsiddharth commented on #5
@z8a, thanks for reporting this issue. Are you using this flags field? I was planning on deprecating it as none of the flag masks are exposed through osdp.h anymore. If what you are doing is a common requirement, then I can enable proper a API for it.

For now, I have fixed it.

[2020-05-22 17:49] #5 closed

[2020-05-27 16:30] z8a opened #6 "AES-128 padding for packet length % 16 == 0"
In OSDP V2 1_6_2014 - Appendix D.4.5 Padding is specified that
padding is necessary also if the data block is multiple of 16.
At the moment in the library there is no padding if length % 16 == 0.

[2020-05-27 16:41] z8a opened #7 "Wrong SCS code sent by osdp_pd?"
I'm using OSDP.Net library to check your library and I had problems with Secure Channel.
Changing osdp_pd.c with:

[code]
it works.
Is it correct?

[2020-05-27 17:18] cbsiddharth commented on #7
Hi @z8a,  that is indeed a bug. Thanks for reporting it. Since you did the work of finding it, do you want to raise a PR for this?

If you don't want to, let me know and I will make this commit for you.

[2020-05-27 17:19] cbsiddharth commented on #6
@z8a, Acknowledged. Thanks again, great find.

[2020-05-27 17:31] cbsiddharth commented on #7
A bit of background on how this bug managed to slip by all the testing (for my own reference). phy_decode_packet() was written to be reused between CP and PD so it was doing a more relaxed check at two places that allowed for this to happen.

Relaxed check on SCS_15 at osdp_phy.c line 310
[code]
Relaxed check on SCS_17 or SCS_18 at osdp_phy.c line 325
[code]

TODO: must fix these checks so we can

[2020-05-27 18:49] #7 closed

[2020-05-29 08:45] z8a opened #8 "REPLY_COM structure has address missing"
According specification it should be:
          case REPLY_COM:
		buf[len++] = reply->id;
                buf[len++] = p->address;
		buf[len++] = byte_0(p->baud_rate);
		buf[len++] = byte_1(p->baud_rate);
		buf[len++] = byte_2(p->baud_rate);
		buf[len++] = byte_3(p->baud_rate);
		break;

[2020-05-29 08:49] z8a commented on #6
I've reported your modifies on my firmware but they aren't working. I was not able to understand why.

[2020-05-29 11:07] cbsiddharth commented on #6
What is the issue you are facing? Can you paste the logs produced by this library with loglevel set to DEBUG?

[2020-05-29 11:11] #8 closed

[2020-05-29 11:15] cbsiddharth commented on #8
@z8a, Thanks for reporting.

[2020-06-05 07:49] cbsiddharth commented on #6
@z8a, Are you still facing this issue? or have you resolved it? You need to provide some additional information if you'd like me to look into it.

[2020-06-10 04:13] #6 closed

[2020-06-13 12:52] #4 closed

[2020-07-12 05:33] #1 closed

[2020-08-17 22:03] pasha-o opened #10 "the link is broken"
the link to protocol design documents in the intro is broken. can it be restored?

[2020-08-18 14:26] #10 closed

[2020-08-18 14:26] cbsiddharth commented on #10
Thanks for reporting. Fixed now.

[2020-09-03 07:32] cbsiddharth opened #14 "Add support for manufacturer specific commands (osdp_MFG/osdp_MFGREP)"

[2020-09-03 17:36] te-johan commented on #14
Thank you for this, nice additional changes as well.
A python callback to handle MFGREP would be good.
I’m not sure using a hard coded byte for size is a good idea. Does the receiver have to know the data size? I would assume that the size would be known by the implementation already.

[2020-09-03 18:27] cbsiddharth commented on #14
MFGREP can be handle from python, just need some additional work/thinking. Basically the callback handler must return a dict with keys populated for MFGREP. I can think of `return (ret_code, mfg_rep)` from the python command handler and then choose to send MFGREP based on return code but that looks ugly. So I deferred that part for now.

For now, LibOSDP now does make one enforcement to osdp_MFG:

[2020-09-03 18:48] cbsiddharth commented on #14
On Second thought, there might be devices that have implemented osdp_MFG already and they won't understand this length prefix. Will fix it, thank you for bringing it up.

[2020-09-03 19:21] #14 closed

[2020-09-04 06:34] cbsiddharth opened #15 "Add support for C++"
LibOSDP must provide classes for CP and PD mode suitable for use in CPP projects.

[2020-09-04 06:50] cbsiddharth opened #16 "pyosdp: PD: Add support for osdp_MFGREP in command handler"
Right now, python PD can respond only with an ACK or NAK for MFG command must add support for osdp_MFGREP too.

[2020-09-04 16:49] cbsiddharth opened #17 "Resolve PD address / offset inconsistencies globally"
Some places the PD is referred to with pd_info_t structure offsets. In others (when pd replies) pd address is sent as pd identifier.

For an application, the PD must always be identifiable with one integer.

[2020-09-05 07:14] #16 closed

[2020-09-05 10:38] cbsiddharth commented on #14
@te-johan Both MFG and MFGREP are now handled in pyosdp as well as LibOSDP. Can check if everything works well for your use case?

[2020-09-06 04:38] cbsiddharth opened #18 "Add tight capability validation in PD"
Before processing/replying for a command, PD must check if the relevant capabilities are set.

[2020-09-07 09:32] te-johan commented on #14
Thanks, I've tries out the PD part and it seems to work good.
Now when I update the CP end I get a crash when trying to send a MFG command from python.
the C code gets a bad pointer to the data object.

[2020-09-07 11:23] te-johan commented on #14
Not sure what the issue is. PyArg_Parse() in pyosdp_dict_get_bytes() sets data_bytes to NULL.
However the returned length is correct. I run python 3.8.5.

[2020-09-07 11:58] cbsiddharth commented on #14
Can you show the python dict you are trying to send? I'll try to reproduce this.

[2020-09-07 12:36] te-johan commented on #14
I actually just tried to send zero bytes.
        mfg_cmd = {
            "command": osdp.CMD_MFG,
            "vendor_code": 0x00000000,
            "mfg_command": 0,
            "data": bytes([ 00 ])
        }
I got it to work by using "y*" and read it into a Py_buffer instead. Documentation said it was the recommended way to work with data, but I don't know why it works with "y*" and not "y#"

[2020-09-07 13:18] cbsiddharth commented on #14
In pyosdp_dict_get_bytes(), length == 0 and buf == NULL are valid. So, with the below change, your mfg_cmd sends 1 byte of "0".

[code]

To send zero bytes of data use,  `"data": bytes()`

[2020-09-07 15:18] cbsiddharth commented on #14
Just to be sure, you are saying len was set to non-zero while  buf was NULL right? I'll read the docs again. ---- On Mon, 07 Sep 2020 19:22:10 +0530  notifications@github.com  wrote ----
Yes that or a similar change is indeed needed to be able to not send any data.
It however does not fix my issue. it still crashes because PyArg_Parse writes a NULL pointer into &buf.
This is the code that works fo

[2020-09-07 15:20] te-johan commented on #14
Yes exactly, that is what I saw using GDB.

[2020-09-07 17:37] cbsiddharth commented on #14
Okay, I've given my fair bit of time to this and have no idea how this can happen (with just the documentation without locally reproducing it). But since that doc clearly mentions "y*" is the recommended way, and it works for you, can you please raise a PR with the change you have above? it looks good to me.

[2020-09-08 07:51] te-johan opened #21 "Support install mode lock down for the CP"
The install mode works well for the PD end today, however the CP will always switch to SCBK-D if SCBK do not work.
I think it would be good to have some sort of lock down flag to disallow both unencrypted and SCBK-D.

For application design it could be good enough to just pass that flag to osdp_cp_setup()

[2020-09-08 08:46] cbsiddharth commented on #21
This is a nice idea! pd_info_t has a flags field that was intended for this kind of use-cases. We can introduce a `OSDP_FLAG_ARMOR` or `OSDP_FLAG_SECURE` to achieve this.

I wonder how we can pass these flags from python neatly.

[2020-09-08 19:33] cbsiddharth opened #22 "Add support for transparent mode"

[2020-09-09 19:48] #21 closed

[2020-09-14 14:56] z8a opened #23 "Info: what is necessary to save in pd_notify_keyset to allow secure connection after a power on?"
I think it is the data field of struct osdp_cmd_keyset but is it enough?
And at power on have I to pass it to osdp_pd_setup?

Thank you.
Paolo

[2020-09-14 15:25] cbsiddharth commented on #23
Yes when `type == 1`, the contents of `data` (16 bytes), must be stored in a persistent memory and passed to `osdp_pd_setup()` at boot as the SCBK parameter.

[2020-09-14 20:30] #23 closed

[2020-09-15 17:43] #17 closed

[2020-09-17 08:45] z8a commented on #23
After I have connected my device with secure protocol if I restart control panel (an access control system) it will reconnect in secure mode but if I restart my device it will go to unsecure. In this condition I can see CMD_CHLNG message from control panel but not CMD_SCRYPT. Is there something that is not initialized after reset? Your library I'm using is not the last version but this is the only

[2020-09-17 08:56] cbsiddharth commented on #23
From what you describe, I suspect the `struct osdp_pd_id` members are not initialized properly. When you call osdp_pd_setup at each boot on the PD side, the same `osdp_pd_info_t` must be passed. This along with the SCBK are used to setup the secure channel.

Alos, it's highly recommended that you use the latest version 1.3.0 which has lots of bug fixes and new feature additions. If you had to modi

[2020-09-18 15:09] sidcha opened #24 "Add support for "File Transfer Messages" for DFU over OSDP"

[2020-09-21 10:09] te-johan commented on #24
I find the standard rather incomplete in regards how file transfer messages are handled.
What command is used to send the file transfer? I have the SIA OSDP 2.1.7 and I've not seen it documented.

[2020-09-21 10:24] cbsiddharth commented on #24
Yes. This is a nice to have featured requested by another user by email. This is a tracking issue for that request. I've asked him this exact question along with other questions to see if he knows anything more than what v2.1.7 is stating (there was a later version in the writing some time back).

[2020-09-21 10:31] cbsiddharth commented on #24
Conversation:

[2020-09-21 16:45] silchas opened #25 "Python import error, undefined symbol: EVP_DecryptFinal_ex"
Greetings.

I'm having some problems with getting the python module to work.

It builds and installs with no problem, but when i try to run following in python:
[code]
Any clue to what might cause this error?

This is on a fresh ubuntu 18.04 install, with the following done to make it build:
sudo apt-get install cmake
sudo apt-get install build-essential
sudo apt-get install libssl-dev
sudo apt-ge

[2020-09-21 16:51] cbsiddharth commented on #25
Looks like pyosdp isn't linking to openssl correctly. The most recent commit is causing this regression, I'll fix this in a bit.

In the meantime, you could `git reset HEAD~1 --hard` get rid of this issue.

[2020-09-21 17:02] silchas commented on #25
That was fast, and it did the trick, thanks!

[2020-09-23 14:50] #25 closed

[2020-09-24 13:21] z8a opened #26 "struct osdp_event_cardread length field unit"
In the comment the field unit is bytes while it's bits.

[2020-09-24 13:31] z8a opened #27 "Communication error when CP doesn't send 0xFF as the first character"
I don't know if the 0xFF as first character is mandatory but the access control I'm using as CP sends it only after it has received it from the DP. I've resolved the problem adding it at the beginning of the buffer when the length of received buffer is 0 and the first character is not 0xFF.
I've done this also in an old library release.

[2020-09-24 15:44] cbsiddharth commented on #26
Actually, data is in bits if format is `OSDP_CARD_FMT_RAW_*` or bytes when format is `OSDP_CARD_FMT_ASCII`. I'll update the comment to indicate this.

Thanks!

[2020-09-24 15:49] cbsiddharth commented on #27
The spec does mention that there must be 1 byte-width-time of channel inactivity between packets and the first byte of a packet must be 0xFF.

Nevertheless, I've seen some devices that don't follow this strictly. I'll add a compile time macro to disable sending/expecting the mark byte.

[2020-09-24 16:24] #26 closed

[2020-09-25 13:40] #27 closed

[2020-09-25 13:42] cbsiddharth commented on #27
You can now pass `-DCONFIG_OSDP_SKIP_MARK_BYTE=on` to cmake to disable the leading 0xFF sent/expected in all packets.

[2020-09-26 13:23] te-johan opened #28 "Support multi-drop on same channel"
OSDP is a multi-drop protocol designed for RS-485 where multiple PD can be connected to the same two wires.
The CP part of libosdp does not support running multiple PDs over the same interface since the channel is unique for each PD.
I don't know how this library is and will be used but I'm guessing most people will have 1 CP and 1 PD. If they have multiple PD they will likely use the same interfa

[2020-09-26 15:04] cbsiddharth commented on #28
Thanks for the writeup, I like the channel ID approach. `utils/channel.c` can already handle multiple requests to open the same channel so I suppose, it can have an API to return channel ID too (the hashmap's hash_t itself perhaps).

[2020-09-27 20:51] #28 closed

[2020-09-27 20:55] cbsiddharth commented on #28
I don't have a hardware setup to test this right away but it should work (mostly).

[2020-09-27 21:07] te-johan commented on #28
Well done, I’ll probably test it out during the week.  Maybe something like this can be used to emulate multiple PDs on a single line. https://github.com/rkubik/serial-proxy-c

[2020-10-01 17:30] te-johan opened #29 "ENFORCE_SECURE has no effect for PDs"
When the enforce secure flag is set for PDs it has no real effect.
If a CP does not setup an encryption it will remain unencrypted.
a reasonable approach would be to only allow some unencrypted messages to be processes by the PD.
The ID, Capability and the encryption initialization messages would probably suffice.

[2020-10-01 20:09] cbsiddharth commented on #29
Fixed in: e46aa0f1

[2020-10-01 20:09] #29 closed

[2020-10-03 06:09] #18 closed

[2020-10-06 15:28] z8a opened #30 "Raw card data not accepted after a few minutes in secure mode"
My peripheral device emulates a card reader and is connected to an access control system. If I connect them using the secure channel it works and the access control read the 'cards'. After some minutes while the communication is still working the access control doesn't read the 'cards'. I'm sure the PD is sending the 'card'. This problem doesn't happen with not encrypted mode.
It could be a proble

[2020-10-07 08:25] cbsiddharth commented on #30
@z8a, can you provide the logs that the PD emmits with log level set to `LOG_DEBUG` and packet trace turned on (`cmake -DCONFIG_OSDP_PACKET_TRACE=on`). This would help narrowing down the issue.

On secure channel, If there is an error (timeout, MAC errors, other any other errors), the PD would discard the current session keys and expects the CP to restart the secure channel handshake process to es

[2020-10-07 09:51] z8a commented on #30
My PD is a an embedded device so I've to dump the log to a free UART. May be is possible.

[2020-10-07 09:56] cbsiddharth commented on #30
This can be done easily with LibOSDP. You can pass a logging function to to osdp_logger_init() that writes to your UART device.

See: https://github.com/goToMain/libosdp/blob/master/include/osdp.h#L710.

[2020-10-07 09:57] z8a opened #31 "Minimum answer length for RawCardData command"

[2020-10-07 10:09] cbsiddharth commented on #31
As per the spec, this command must have at least 4 bytes. I see that is what LibOSDP expects 4 bytes too. In which mode are you experiencing this issue?

[2020-10-07 10:13] cbsiddharth commented on #31
I found a bug in that area. Can you please check if that fixes your issue?

[2020-10-07 10:34] z8a commented on #31
The problem happens when there is no event.

[2020-10-07 10:38] cbsiddharth commented on #31
Please describe your problem and the mode (CP or PD), the issue is not very clear to me yet.

[2020-10-07 12:39] z8a commented on #31
My device is a PD that is a 433MHz radio receiver. When it receives a radio command transmission it enqueues in the events. When the CP sends a osdp_RAW command the PD answers with the s/n and button code. The problem arises when the CP sends the command and there aren't events enqueued. At the moment the answer is an ACK but the CP wants 4 byte.

[2020-10-07 13:21] cbsiddharth commented on #31
As per the specification `osdp_RAW` is reply (not a command) that a PD can send in response to a `osdp_POL` command. A poll command can also be replied with an `osdp_ACK` reply if there is no alternate response (events) available to the PD.

If no events are there, the CP should be capable of accepting `osdp_ACK` too as a periodic polling is needed to keep any established secure channel active.

[2020-10-07 14:22] z8a commented on #31
Yes, you are right but looking at the standard the answer to POLL is not ACK but any of the reply messages marked as 'poll response'.

[2020-10-07 14:33] cbsiddharth commented on #31
According to specification, reply to a POLL can either be atternate replies (card read, key press or other events) or an ACK. Please check.

[2020-10-07 14:48] z8a commented on #31
I've release 2.1.6 of the standard and at point 3.1:
3.1 Poll (osdp_POLL)
This command serves as a general inquiry. The PD may return any reply that is marked as a possible
"poll response". Normally, the PD will return any unreported input data or status change information
as a poll response.
Command structure: None
Reply: Any of the Reply messages marked "poll response".

[2020-10-07 15:13] cbsiddharth commented on #31
Okay, I see where the confusion arises from. The reply `osdp_ACK` is not explicitly marked as a "poll response". I think this is miss in the specification.

But please see, Section 3 Commands:

So technically, the `osdp_POLL` command was accepted by the PD (no checksum/MAC/format errors), and there was no suitable "poll response" available at the time. Under this circumstances, the PD is free to r

[2020-10-07 15:21] cbsiddharth commented on #30
Is this issue possibly a duplicate of #31 or is this a separate issue?

[2020-10-07 16:11] z8a commented on #30
I'll verify if it's possible.

[2020-10-08 09:26] z8a commented on #30
This is the log of the problem. What do you think?

OSDP: DEBUG;PD: CMD: 76 REPLY: 76
OSDP: DEBUG;PD: CMD: 77 REPLY: 78
OSDP: WARN ;PD: SC Active with SCBK-D
OSDP: DEBUG;PD: CMD: 75 REPLY: 40
OSDP: DEBUG;PD: CMD: 76 REPLY: 76
OSDP: DEBUG;PD: CMD: 77 REPLY: 78
OSDP: INFO ;PD: SC Active
OSDP: DEBUG;PHY: cmd for PD[0] discarded
OSDP: DEBUG;PHY: cmd for PD[2] discarded
OSDP: DEBUG;PHY: cmd for PD[3] d

[2020-10-08 10:49] cbsiddharth commented on #30
This seems to be the issue:
[code]

The PD found the MAC to be invalid. At this point, the CP thinks it has lost secure channel but the PD doesn't think so. Due to this all further commands from the CP are in plain text while PD discards them as the security constraint is not met.

It is unclear why the MAC validation failed as a secure channel was established successfully just a little earlier. I

[2020-10-08 12:26] z8a commented on #30
*  Does it happen repeatedly after a new SC is setup?
It happens every time but after a variable time. I'm not sure but may be after a osdp_RAW answer with data.
*  Can you isolate this PD to that CP and check if this is still reproducible?
I've tried with one library in Python but it seems that it has other problems.
*  Have you considered the possibility of a CP side bug?
Yes, I've asked to my c

[2020-10-08 14:47] cbsiddharth commented on #30
You can turn on packet trace macro, LibOSDP will print the exact bytes it received on wire so you know exactly when it fails.

This is expected. When you disconnect the serial line, the PD experiences a timeout and the SC session is discarded so a new one can be established when you reconnect.

On a side note, if you are developing the CP internally, you can force the sequence number to 0 in a mes

[2020-10-12 19:48] cbsiddharth commented on #30
@z8a, Any updates on this?

[2020-10-12 19:48] cbsiddharth commented on #31
@z8a, Any updates on this?

[2020-10-14 06:53] z8a commented on #31
As I told you two libraries I'm using want a minimum of 4 byte in the answer. The access control system developed by our company seems to accept a shorter answer. The firmware developer is on holiday this week and then I'll ask him next week.

[2020-10-14 06:54] z8a commented on #30
Today I've received a firmware update of the access control system but the problem is still there.
Could you help me to find a way to understand if the 'Wrong MAC' is caused the CP of by the PD?

[2020-10-14 08:26] z8a opened #33 "PD: Support receiving multiple records in osdp_OUT"
According to the standard (3.9) the command command structure is 4-byte element, **repeated 1 or more times**.

[2020-10-14 08:46] z8a opened #34 "Self adapting to mark or not mark"
To manage mark or not mark condition (I've both on the same connection) and without change too much your software I've modified osdp_cp.c (v1.3.0) in this way:

*	if (was_empty && rec_bytes > 0) {
		/* Start of message */
		pd->tstamp = osdp_millis_now();
	}

	if (was_empty && (buf[0] != 0xFF)) {
	   memmove(&buf[1], &buf[0], rec_bytes);
	   buf[0] = 0xFF;
	   rec_bytes++;
	}

	pd->rx_buf_len += r

[2020-10-14 12:32] cbsiddharth commented on #30
When a SC is initialized, both CP and PD would have the same session keys (as both CP and PD were able to verify each others session key during SCRYPT and CCRYPT commands). After this if MAC validation fails, this can only mean that the S_MAC1 and S_MAC2 are not setup correctly. Take a look at `osdp_compute_session_keys()` and see if your CP firmware is doing the same thing.

Along with packet tra

[2020-10-14 12:38] cbsiddharth commented on #33
The PD right now does not support this feature because the CP implementation does not support this. I will add support for this feature on PD side only (adding this to CP will make the API complex).

[2020-10-14 13:00] z8a commented on #30
In your project is possible to build a CP to run it on a Linux PC?

[2020-10-14 13:08] cbsiddharth commented on #30
Of course. Check out the python wrapper for LibOSDP (samples/python/cp_app.py). You have to do a `make python_install` before you can import osdp.

[2020-10-14 13:14] z8a commented on #30
I think you have to do a push on 'c-utils' because I've a compilation error:

osdp_common.h:162:33: error: too many arguments to function ‘hexdump’
  #define osdp_dump(b, l, f, ...) hexdump(b, l, f, __VA_ARGS__)

[2020-10-15 07:06] z8a commented on #30
Is possible to send a osdp_POLL command with cp_app.py?

[2020-10-15 09:13] cbsiddharth commented on #30
[cp.refresh()](https://github.com/goToMain/libosdp/blob/master/samples/python/cp_app.py#L99) would internally send osodp_POLL command. There is no way in LibOSDP to send a poll command from application layer as there is no need to do so. If the PD reports a card read, you will get a callback event that will call [this function](https://github.com/goToMain/libosdp/blob/master/samples/python/cp_app.

[2020-10-15 13:00] cbsiddharth commented on #31
Can you point me to those libraries? I'll try to talk with the authors.

[2020-10-15 15:56] z8a commented on #30
Now I've 'PD' (my hardware) and 'CP' (your python example) working together.
Please could you explain me how works cp_app.py?
What about secure channel? Before start it have I to put the 'PD' in setup/install mode?
After a 'OSDP: ERROR: PD[0]: CMD: 60 - response timeout' it stop to communicate. I've to solve this problem but in real world it could happen so there should be a system to restore auto

[2020-10-15 16:20] cbsiddharth commented on #30
You cannot directly use that example as it is meant for API demonstration purpose only. You should modify the pd_info dict to describe the connected PDs and then modify the key variable to your master key.

The CP will automatically try to setup a secure channel if the PD is capable of doing so. You do not need to do anything about this. If the secure channel fails, the CP will also try to re-esta

[2020-10-16 09:24] z8a commented on #30
I've solved a timeout problem caused by interrupt latency and I hope it'll solve also the original problem.
I'd like to change the retry time in your CP panel implementation but I'm not able to change it.
I've changed OSDP_PD_RETRY_MS and OSDP_CMD_RETRY_MS in src/osdp_config.h.in, then cmake .., make, sudo make install, sudo make python_install but I don't see any modification.

[2020-10-16 09:28] z8a commented on #30
I've not understood how your CP is able to setup a secure channel after first time and with PD not in install mode. Does it save the key in some place?

[2020-10-17 13:12] cbsiddharth commented on #30
The master key is in the source file `cp_app.py`. This key is used to generate the SCBK and the session keys. On the PD side, the SCBK is stored on the device and passed at `osdp_setup_pd()`.

That's strange. In the directory from where you invoked cmake, check if there is a file `src/osdp_config.h` and see if it has the values that you modified. If not, remove this file and run make again. Also r

[2020-10-19 08:29] z8a commented on #30
Retry timeouts are OK. I've rebuilt all and now it's OK. I've already done but something was wrong.
I've seen that the python example can recover from timeout errors so I think the original problem is caused by Access Control system that cannot recover from the timeout of a single communication while if I disconnect and reconnect the RS485 cable it is able to recover.
About secure channel I'm stil

[2020-10-20 06:05] cbsiddharth commented on #30
Have you seen this?

[2020-10-20 13:31] z8a commented on #30
Yes. I thought that both CP and PD have to store the SCBK.

[2020-10-20 13:54] cbsiddharth commented on #30
The CP has to Store the Master Key. The PD must Store the SCBK. In your setup, the PD hardware is storing the SCBK in some non-volatile memory and the CP has the master key in the python source file so the secure channel is re-established without the need to put the PD in install mode after the first time.

[2020-10-21 10:11] te-johan opened #35 "PD assumes incoming data is equal to packet size"
When running multiple PDs a PD have to be able to receive multiple packets without breaking.
Today all incoming data is put into pd->rx_buf and osdp_phy_decode_packet assumes that only one command is put into this buffer.

When running multiple PDs a PD might receive multiple commands at a high rate. For example if there is PD A and PD B, PD A receives a command and replies to it instantly. if PD

[2020-10-21 13:41] te-johan commented on #35
With this commit multidrop seems more stable.
https://github.com/te-johan/libosdp/commit/0d3f148db5ed32cedaa059a2e1514c8d7e95409c
I only did a quick test of the PD part(the CP does probably not work). The code can be a bit confusing where rx_buf_len vs data_buf_len is zeroed at different places.

The timeout had to be changed so that it starts when the first byte is received after a command has be

[2020-10-22 04:44] cbsiddharth commented on #35
Thanks for reporting this, its a more pressing issue on the CP side. I looked at your tree, and yes, managing another buffer is a bit confusing.

I'm thinking we should have a method `osdp_phy_fetch_command()` that would look at the buffer and copy exactly one command (based on length in header) into rx_buf and fail on partial packets instead of copying all bytes at once. This way rest of the code

[2020-10-22 04:53] te-johan commented on #35
That sounds like a good idea, I was thinking of something similar but was reluctant to add a ring buffer between RX and receive. But it would be the cleaner implementation.
Is this an issue on the CP as well? Since the CP synchronizes with itself between each command(since it is the only master on the bus) I imagined it wasn’t an issue.

[2020-10-22 05:18] cbsiddharth commented on #35
As of now its not a problem. OSDP has the concept of broadcast messages (addressed to 0x7F). LibOSDP does not support this as its not very tried and tested feature (I've seen some commercial PDs that don't respond to this address). In the case of multi-drop connections, it may make sense to send one POLL multicast command instead of unicasting it individually.

[2020-10-22 05:46] te-johan commented on #35
Broadcast in OSDP is quite useless. Since multiple PDs cannot reply at the same time there is a limitation to the standard.

Not responding to 0x7f is not unreasonable. I assume broadcast is only there to be able to assign new addresses to units before they are installed.

[2020-10-22 06:02] cbsiddharth commented on #35
Ahh, I see. Come think of it, multicast cannot work when secure channel is active too. It's a shame, multicast POLL would have been a real performance boost.

[2020-10-23 19:28] te-johan commented on #35
Adding a function called osdp_phy_fetch_command and not modifying the rx_buf handling will probably break the timeout that is used on to determine that no valid command will be received.
Moving channel.send and receive into the phy might and handling this issue there might be good. Also makes sense from a stack perspective. With a osdp_phy_fetch_command() function the phy would have to handle the

[2020-10-28 06:04] #30 closed

[2020-10-28 06:05] cbsiddharth commented on #30
@z8a, you can reopen this issue if you need more information.

[2020-11-06 15:46] nathanabrewer opened #39 "OSM-1000-BRD as PD gets packet seq mismatch"
PACKET: FF 53 80 14 00 04 45 CA 44 6C 01 00 C7 92 02 00 01 07 0F C4 42
PACKET: FF 53 80 23 00 05 46 01 01 02 02 01 01 03 01 00 04 02 01 08 01 00 09 01 01 0A 00 02 0D 00 01 10 01 00 D9 08
PACKET: FF 53 80 09 00 06 41 06 A0 BA
_OSDP: ERROR: PD[0]: PD replied with NAK(6) for command 76
OSDP: ERROR: PD[0]: CHLNG failed. Online without SC_
PACKET: FF 53 80 09 00 06 41 06 A0 BA
_OSDP: ERROR: PD[0]: PHY:

[2020-11-16 21:35] cbsiddharth commented on #39
@nathanabrewer, Can you pastebin the logs when you build the CP with `cmake -DCONFIG_OSDP_PACKET_TRACE=on` and log level set to `LOG_DEBUG`? The logs you have provided is not enough to analyse this issue.

[2020-11-16 21:37] cbsiddharth commented on #31
Closing this issue due to inactivity. Please feel free to re-open if/when needed.

[2020-11-16 21:37] #31 closed

[2020-12-10 00:46] bytedreamer commented on #39
@nathanabrewer I've seen the OSM-1000 randomly go offline with my OSDP.Net driver. If the sequence number is not set to -1, does it go offline with libosdp?

[2020-12-11 21:47] cbsiddharth commented on #39
If there is a sequence mismatch, then libosdp would go offline. If more verbose logs are made available, I can look into it.

@nathanabrewer, ping?

[2020-12-15 20:58] bytedreamer commented on #39
I think that it has been resolved on OSDP.Net lib by restarting the device connection sequence when the reader goes offline.

[2020-12-17 11:01] atandersson opened #40 "Porting libosdp to FreeRTOS"
Would it be possible to port this library for using with FreeRTOS running on ARM MCU's?
Some embedded solutions which are looking to start implementing OSDP today are running task schedulers like FreeRTOS on small ARM Cortex-M0/M3/M4 cores.
I think it would be a nice feature to include an option/fork for building the library for these devices as well, especially the PD's which are most likely to r

[2020-12-21 17:55] cbsiddharth commented on #39
I think this happens by default in LibOSDP. The section referenced above is when CP challenge fails. In this case, IMO, there should not be any need to reset sequence number (although resetting it there won't hurt) as the PD hasn't gone out of communication yet.

For now, I'm inclined to fixing this by just calling phy_reset().

[2020-12-22 02:54] a295656031 opened #41 "Add support for sequence repeat (CP) and reply resend (PD) features"
According to the OSDP protocol
the SQN which defines in message control byte,  I think if CP receives PD response SQN error or No response from PD，the CP should repeat the command packet，the repeat command packet should be same with the last time command package.

[2020-12-25 09:49] cbsiddharth commented on #41
This can be helpful if there is no response from the PD (although the spec does say that the PD must reply with `osdp_BUSY` if it cannot respond to a command at the moment). But how does this help when the CP got an invalid sequence number? IMO, sending the same command should result in the same sequence mismatch error again.

[2020-12-25 15:31] #39 closed

[2020-12-25 16:10] bytedreamer commented on #39
@cbsiddharth Added similar logic to handle security init issues. After a few iterations, this worked well for handling from the CP side.

`            if (reply.IsSecureMessage)
            {
                var mac = device.GenerateMac(reply.MessageForMacGeneration.ToArray(), false);
                if (!reply.IsValidMac(mac))
                {
                    ResetSecurity(device);

[2020-12-25 16:38] a295656031 commented on #41
You may have misunderstood。

PD has replied, but CP may accept the data incorrectly (it may be that the data is wrong in the RS485 transmission process, which causes CP not to accept the data correctly). PD thinks that the data has been successfully sent, but the data received by CP is wrong. In this case, CP should resend the last request.

In  osdp_phy.c line 311, seq-repeat reply-resend feature

[2020-12-25 17:16] cbsiddharth commented on #41
Yes. To close this issue both features will be supported.

Transmission line errors will trigger the checksum error. Which is also a nice point to re-issue a command. Still not sure why an invalid sequence number needs a command level retry.

So far I can see 2 cases when resending a command with the same sequence number is helpful:
1. On timeouts, and
2. On checksum errors

Do you have any other

[2020-12-25 21:37] #35 closed

[2020-12-25 21:42] cbsiddharth commented on #35
So.. I found a neat way to achieve what we discussed earlier (long back). I do not have a multi-drop setup to to test this thoroughly but I made sure I didn't break any of my test beds.

If you do find some issue in your setup with this commit, send PR or re-open this issue :-)

[2020-12-25 23:00] te-johan commented on #35
Thank you for looking into this. I'm not working with the OSDP project and don't know when I'll upgrade the software next time.
However it would be really good for you to have a test setup where you can test multiple PDs.
I would recommend that you have a test application that runs two instances of a PD client in the same Linux application.
Maybe even run them in two different threads so that the

[2020-12-26 00:40] #34 closed

[2021-01-11 14:08] schmida2 commented on #24
I am using the freshly released OSDP Specification adopted by IEC: IEC 60839-11-5 Edition 1.0 (2020-07).
And there I see the command osdp_FILETRANSFER along with its response osdp_FTSTAT.

The FILETRANSFER is not basing on the "Multi-Part Messages", this is independent.

Is there already development ongoing for this feature request ?

[2021-01-11 14:26] cbsiddharth commented on #24
I very recently got my hands on the IEC spec, haven't haven't gotten arround to this yet.

If you are working on this, patches are welcome. :)

[2021-01-18 19:16] patrick-compass commented on #40
I'm currently trying to implement this library to operate a CP on a Maxim Cortex-M4. Any tips would be appreciated.

[2021-01-18 23:33] cbsiddharth commented on #40
Most of the platform dependent code is well abstracted, so you should be able to port libosdp to FreeRTOS with minimal effort. I have listed the things you need to do on the CP side, if you need to get the PD also working, similar methods exists for the PD too.

In `src/osdp_cp.c`:
- Read libosdp's [API documentation](https://libosdp.gotomain.io/api/control-panel.html) (probably outdated; yet usef

[2021-01-28 00:37] prxvm opened #42 "Question on secure mode and library usage"
First off, great work! I have some questions on the usage of this library, hope you can clarify:
- There is a setup flag to enable install mode on a PD. But say the PD is operational, how to get it into install mode? From the code, it doesn't look like it honors this flag during runtime, but only during initial setup. Is this expected to be handled by the application? Or should the init happen aga

[2021-01-28 07:53] cbsiddharth commented on #42
The install-mode is an insecure mode (it uses SCBK_D and allowed any CP to set a key) and cannot and should not be allowed during normal operation of the PD. Enabling this is mode is up to the implementation and can be done by setting flag `OSDP_FLAG_INSTALL_MODE` in the `osdp_pd_info_t ::flags`.

For instance, HID has some special configuration cards that you can present to the RFID reader soon a

[2021-01-28 22:22] prxvm commented on #42
Thank you for all the answers!
As for the last point on keyset command, I'd like to point out `osdp_cp_send_command_keyset` where the correct data gets copied into the keyset cmd and enqueued. But when `cp_build_command` gets called, it simply calls `osdp_compute_scbk` under the `CMD_KEYSET`  case. Not sure if this is intentional to keep the key computation per spec. Is sending an arbitrary key su

[2021-01-29 09:05] cbsiddharth commented on #42
So.. it looks like this part of the library hasn't received much attention since beginning of time, ergo missing a critical code path :).

CP applications cannot set an arbitrary SCBK to connected PDs but only choose to change its own master key. When a master key change is requested, LibOSDP should prepare suitable SCBKs and send it to the corresponding PDs which have an active SC. I'll look into

[2021-01-29 12:01] IDmachines commented on #42
Thanks for looking into this!

[2021-01-30 21:17] cbsiddharth commented on #42
@prxvm, @IDmachines, master key set issue is now fixed.

Do you have any further questions?

[2021-01-30 23:05] #15 closed

[2021-02-01 01:40] prxvm commented on #42
Good for now. Thanks for your quick feedback and commit!

[2021-02-01 01:40] #42 closed

[2021-02-01 19:29] prxvm opened #43 "osdp_phy_check_packet return value for incorrect PD"
Return value of `osdp_phy_check_packet` in case a PD receives command poll command that is not intended it for i.e. meant for a different PD, shouldn't the following code block check for `ISSET_FLAG(pd, PD_FLAG_PD_MODE)` instead of `!ISSET_FLAG(pd, PD_FLAG_PD_MODE)` ?

[code]

[2021-02-01 20:52] cbsiddharth commented on #43
In PD mode, in multi-drop channels, when a PD receives a command addressed to another PD, it should not process the command: ie, should skip it and hence returns `OSDP_ERR_PKT_SKIP`.

On the other hand, a CP receiving a response from another PD when the channel is locked to it is treated as an error. This can happen only if a faulty PD is responding when it shouldn't.

[2021-02-02 00:06] prxvm commented on #43
Thank you for the clarification!

[2021-02-02 00:06] #43 closed

[2021-02-19 17:37] cbsiddharth opened #48 "Add bounded exponential back-off PD/CP offline retries"
PR #47 reduces the retry timeout to 1 second which may be too wasteful in cases where the PD is powered off faulty. So add a bounded exponential back-off for PD/CP offline retries.

[2021-02-25 02:47] prxvm opened #49 "PD behaviour in secure mode for commands with no defined command structure"
**Describe the bug**
The secure session gets discarded due to "failed" decryption upon receiving commands that have no command structure defined in the spec. Such commands are LSTAT, OSTAT, RSTAT, ISTAT. These simply instruct the PD to reply based on the command code.

**Expected behavior**
Secure mode should not be discarded

**Observed behavior**
It is observed that secure session gets discarded

[2021-02-27 10:08] cbsiddharth commented on #49
@prxvm, According to the specification (v2.1.6, section D.3.2.1 and D.3.2.2) if a command or reply has no data, it should use SCS_15/SCS_16 and not SCS_17/SCS_18. You can see that LibOSDP handles this correctly while [sending](https://github.com/goToMain/libosdp/blob/master/src/osdp_phy.c#L446) and [receiving](https://github.com/goToMain/libosdp/blob/master/src/osdp_phy.c#L184).

Is this a commerc

[2021-02-28 09:33] #48 closed

[2021-02-28 09:38] cbsiddharth commented on #40
@patrick-compass confirmed (by email) that he is able to run LibOSDP on FreeRTOS after redefining some internal methods locally. Those symbols have been marked weak with e3eb1fbd49c1bb189642c4230971232148e15bc8 so this can be done without any modification to the library.

Closing this issue.

[2021-02-28 09:38] #40 closed

[2021-02-28 10:23] #49 closed

[2021-03-02 05:11] prxvm commented on #49
@cbsiddharth this was observed a commercial panel. you are right this packet should not have been sent with SCS_17, but alas. Thank you.

[2021-04-15 22:40] rsgmodelworks opened #52 "incompatibility with secure channel keys?"
we are getting reports this code is not compatible with other OSDP implementations because it uses "MK" key derivation, which is not used in modern OSDP.

[2021-04-17 08:50] cbsiddharth commented on #52
@rsgmodelworks, thanks for looking into this.

This is not accurate. Reading the latest IEC spec, I believe this library should work as the _"MK" key derivation_ is not deprecated yet (correct me if I am wrong here).

This project was developed with v2.1.6 of the OSDP specification which does not dissuade the use of a shared master key to setup the SCBKs. That said, I'll add this topic to a list t

[2021-04-17 08:51] sidcha opened #53 "Bump OSDP specification supported version to IEC Edition 1.0"
LibOSDP release v1.5.0 (inclusive) is based on v2.1.6 of the OSDP Specification. A later version of OSDP (v2.1.7 or IEC Edition 1.0) was released and this is a tracking issue for all changes that were introduced in that version.

- [x] Add support for additional baud rates
- [x] Allow CP app to send SCBK directly for each PD during `cp_setup()`
- [x] Add support for file transfer command #24

[2021-04-17 08:52] cbsiddharth commented on #52
Closing this as issue as it will be tracked as part of #53.

[2021-04-17 08:52] #52 closed

[2021-04-23 11:43] schmida2 commented on #53
Good to see the SCBK handling is being revisited. By the way: SIA OSDP Specification v2.2 is already released, and as you say the master key based SCBK derivation is deprecated therein.
So per my understanding 2 options would be left:
1. ACU uses its own key management (and sends the individual SCBKs to the PDs with osdp_KEYSET command)
2. SCBK distributed out-of band (e.g. using a config card; no

[2021-04-23 15:39] schmida2 opened #54 "add mbedTLS support"
I see the libosdp is already flexible in what crypto support functions it uses (OpenSSL, tiny-AES).
Actually our project evolves in the direction that we would have mbedTLS crypto library instead of OpenSSL in the (Linux) system.

It would be perfect to have mbedTLS as a third option for crypto functionality required by libosdp (AES, CMAC).

- [ ] add option to use mbedTLS shared library (similar

[2021-04-23 19:39] cbsiddharth commented on #54
@schmida2 that is useful indeed!

Are you already working on this? If so you can send in a PR.

[2021-04-23 19:47] cbsiddharth commented on #53
Yes, but Both those options converge into one (from the library’s perspective): allow ACU applications to send SCBK directly for each PD.

[2021-06-10 10:04] sidcha opened #57 "OSDP CP init should make sure that the SCBKs are different and non-zero."
Now the application can setup a CP with different SCBKs for each PD without passing a master key. But an ignorant programmer can pass the same SCBK buffer to all the PDs or worse, pass all zeros.

LibOSDP should do some preliminary checks on SCBK we receive from the user.

This issue was revealed from PR: #56

[2021-06-13 16:20] mistial-dev commented on #22
For this issue, are you looking to add the HID-specific things, or Extended Packet Mode?

It's been a while, but I purchased the v2.1.7 spec (back when it was $30), which IIRC had removed transparent mode and moved it to an appendix.  I had requested the appendix but never heard anything back.  I ended up finding a 2.1.5 spec somewhere and implementing it from that in the .NET solution I put toget

[2021-06-14 20:21] sidcha commented on #22
Hey @mistial-dev, I'm looking at v2.2 (or the IEC v1.0) specification when I think about TRS mode. I'm not familiar with the HID-style transparent more nor it's acceptance in industry. Since the official specification has a flavour, I'm guessing that is more authoritative what is your take on this matter?

That said, any contributions towards this goal is always welcome. :)

PS. please be informed

[2021-06-14 20:28] mistial-dev commented on #22
I don't have the 2.2 spec, so I can't comment on it.

The earlier versions had a transparent mode that was covered by HID patents.

![image](https://user-images.githubusercontent.com/69981049/121954699-ac68d400-cd24-11eb-92db-1171b3e0cf8f.png)

As I understand it, the Extended Packet Mode was built specifically to avoid the HID patents.  The standard I have has the following notice:

[code]

That'

[2021-06-15 08:55] sidcha commented on #22
Okay, now it all comes back to me. I was looped to a discussion with some
folks from SIA and they confirmed in that mail thread that the in-spec
(v2.2) TRS mode was free from any patent related issues (now I know what
they meant).

Given that the targeted users are trying to build products out of this, we
should try to add support for the royalty free version. I have the
specification with me; but

[2021-06-22 12:41] schmida2 commented on #24
Hello @sidcha, I noticed your skeleton on file transfer addition, the code looks very nice again.
Sure, "skeleton" means: it is not finished (e.g. file_tx_state_e is not used yet). Are you in the background further working on filertansfer? Or would you rather expect contribution?

[2021-06-22 16:20] sidcha commented on #24
I started working on it and got distracted; I do have some uncommitted changes. But if someone else beats me with a PR, I wont be too upset about it :)

At this point, it's about another day's worth of effort to get everything implemented and tested.

[2021-06-23 19:59] matt-treiber-compass-es opened #60 "Initiating Secure Channel in CP Mode"
First off, thanks for the help to @patrick-compass with porting to FreeRTOS on a Cortex M4 on [Issue 40](https://github.com/goToMain/libosdp/issues/40). We are able to talk to multiple readers on a channel and move readers to a new PD address and 115,200 as well as detect cards and key presses.

Now we are trying to get a secure channel established -- first with the default SCBK after which we can

[2021-06-25 16:01] schmida2 commented on #24
What would really help me better understand would be a description of the file operations. Is this API pretty stable already?

[2021-06-25 16:05] sidcha commented on #24
It’s been a while since I had a look at it. Let me check and add some code/comments to help understand it better.

[2021-06-25 17:40] prxvm opened #61 "osdpctl compile error"
**Unable to compile on master**
Running into osdpctl build error on master. Please advise.

Steps followed from README,
[code]

**Expected behavior**
Clean build

**Observed behavior**
Running into the following error -

[code]

[2021-06-25 22:42] sidcha commented on #61
@prxvm, I cannot imagine you landed up at this state in your repository. The only time this error can happen is when the osdpctl is newer than the rest of the repo.

Can you copy-paste the output of the following commands in the current state of you repo:
[code]
[code]

[2021-06-25 23:14] prxvm commented on #61
Yes definitely,

[code]

I have also updated the submodule
[code]
is `osdpctl` a submodule?

[2021-06-26 11:02] sidcha commented on #61
Unbelievable. The CI is running those exact same steps to succeed on master. More information please :)

 - Build machine kernel/OS info
 - Compiler version
 - Run `make clean && make VERBOSE=1` and post the log to https://pastebin.com/ and share link.

[2021-06-26 11:58] sidcha commented on #60
@matt-treiber-compass-es, when `OSDP_FLAG_ENFORCE_SECURE` is requested, use of SCBK-D is not permitted (see [include/osdp.h](https://github.com/goToMain/libosdp/blob/master/include/osdp.h#L28) for other such restrictions). In fact, the log line that you pasted says exactly that: `CHLNG failed. Set PD offline due to ENFORCE_SECURE`.

When you see a "due to ENFORCE_SECURE" failure, the CP/PD is doin

[2021-06-26 14:29] sidcha opened #62 "Add a in-library post command callback mechanism to perform success/failure actions"
A lot of times, we need to perform some actions based on whether a command succeeded or failed. Since there are 2 level state machines (very messy) in `osdp_cp.c`, we have no way of performing some post success/failure operations for commands that got queued from the applications.

Note that this is not the same as `command_complete_callback` that exists today (which is for notifying the applicati

[2021-06-26 19:03] prxvm commented on #61
Okay I found what is happening, a copy of `osdp.h` from an older version ended up in my `usr/local/include` (don't know how, need to reproduce, I did not place it there). Because this older `osdp.h` in `/usr/local/include` preceeded the `osdp.h` from the library, compiler picked that up and complained. I will close this issue. Thank you for your help!

[2021-06-26 19:03] #61 closed

[2021-06-27 20:27] #24 closed

[2021-06-29 08:05] bve-ape commented on #60
Hello,
I am also trying to establish a secure communication with a HID reader. The reader is set up with a default key.
What I want is to establish a secure channel using this default key.
I tried to set up a secure channel more or less the same way @matt-treiber-compass-es tried.
However after your explaining it is still not clear how to do it.
For example we are doing:
[code]
And I got the same

[2021-06-29 08:15] sidcha commented on #60
@bve-ape, you should **NOT** pass `OSDP_FLAG_ENFORCE_SECURE` when you want to use SCB-D to setup the secure channel. So you should do this:
[code]
In the logs, you should see messages indicating that a secure channel was setup using SCBK-D and then a subsequent KEYSET was performed. After this, the PD is setup with `my_pd_scbk` as SCBK. In the next runs, instead of `.flags = 0`, you can pass `.fla

[2021-06-29 08:33] bve-ape commented on #60
Thanks for your insight.
What is not clear is what you mean with **In the next runs**.
Do I need to do another cp.setup ?
Right now the code is doing one setup then setting callbacks, etc then doing some polling:

[code]
Thank you very much

[2021-06-29 08:41] sidcha commented on #60
The PD has to be forced to enter the install-mode (to use SCBK-D) with some method such as by presenting config-card. During this time, CP must also be stared in a special mode where it does not pass the `OSDP_FLAG_ENFORCE_SECURE` flag (this operation is insecure because it would start a secure channel with default keys).

After the SC was setup using SCBK-D and the SCBK was set to the PD (at this

[2021-06-29 21:16] matt-treiber-compass-es commented on #60
Do you mean the flag `PD_FLAG_SC_USE_SCBKD`?

[2021-06-29 21:37] matt-treiber-compass-es commented on #60
In the code example above:

[code]

If a SCBK is passed to the CP setup, is that key used to decrypt the first PD cryptogram? I am passing the SCBK_D to use, but the library is still unable to decrypt:

[code]

Unfortunately, with this Veridt reader, it is NAKing all subsequent osdp_CHLNG commands.

[2021-06-29 22:12] sidcha commented on #60
Yes.

The library will do this for you. You do not need to pass the SCBK-D. It will first try to setup a connection with the provided SCBK; if that fails, it attempts to setup a secure channel session with SCBK-D (make sure that the reader is in install-mode) and if that succeeds, the SCBK that you passed initially will be set to the device.

If this is not what you are seeing, please post the ful

[2021-06-30 07:51] bve-ape commented on #60
So, I have the following piece of code as you suggested:
[code]
For which I get the following output from the library:

[code]
Can you give us a pseudo code sample on how you would initialize a secure communication from a cp.setup to a cp.refresh ?

Thanks a lot

[2021-06-30 08:41] sidcha commented on #60
What you have there is a valid init sequence, with one minor comment: you shouldn't pass the `master_key` in place of `scbk` (see [1]). If you need more samples you can look at samples directory or have a look at the osdpctl directory (which implements LibOSDP fully). If these are not clear for you setup the device, please open a separate ticket with what you feel is the gap, I'll address them.

B

[2021-07-01 14:20] sidcha commented on #60
Yes. I've updated the original comment with this correction.

[2021-07-07 09:07] qdx opened #63 "Cannot import osdp library from python3.9"
**Describe the bug**
After successfully building and installing the python library, error was encountered when trying to import the osdp library.

**Expected behavior**
The osdp library should be imported without error.

**Observed behavior**
When importing the osdp library via `import osdp`, below error is encountered:
[code]

**Additional context**
I'm on macOS 11.4
This issues is encountered in

[2021-07-08 22:23] sidcha commented on #63
@qdx, thanks for reporting the issue. the c-utils submodule when through some cleanup which has caused this issue. I've fixed it now.

[2021-07-08 22:46] #63 closed

[2021-07-08 22:51] sidcha commented on #63
Also added PyOSDP builds and import check to CI builds. This should not happen again, sorry about the hassle.

[2021-07-11 12:05] #54 closed

[2021-07-15 03:05] mmohtashamirad opened #64 "integrating into yocto."
Hello,
I'm trying to integrate the library into a yocto cmake project as it's instructed in user manual. the problem is that I'm able to compile the same project in ubuntu and manually cross compile it for the target. but when it comes to yocto bitbake, it fails because it's compiling the libosdp for the host, not for target.
does anyone have any idea about it?

[2021-07-16 14:04] #60 closed

[2021-07-16 14:09] sidcha commented on #60
@matt-treiber-compass-es, there was indeed an issue with the SC implementation. Update to the most recent master to get the fixes.

@bve-ape, thanks for your efforts in finding/fixing this bug.

[2021-07-17 06:25] sidcha commented on #64
You’d have to export cross compilers before invoking cmake. Did you have a
look at
https://libosdp.gotomain.io/libosdp/cross-compiling.html?

Even though it’s not something that you can directly use, it’s a good
starting point on what the library expects in order to be cross compiled.

On Thu 15. Jul 2021 at 05:05, mmohtashamirad ***@***.***>
wrote:

[2021-07-17 09:02] mmohtashamirad commented on #64
Thanks for your answer, Sidcha.
I already checked all parts of the manual pages.
In yocto, you don't need to set cross compiler. It's done automatically. Actually, the main project is compiled for target, but only libosdp is being compiled for host.

[2021-07-17 10:50] sidcha commented on #64
@mmohtashamirad, can you give me some link/steps/reproducer to reproduce the problem locally? Did you have to make some changes to LibOSDP to get to where you are?

I'm not super familiar with Yocto and and there isn't much to go on here :)

[2021-07-19 02:01] mmohtashamirad commented on #64
Sure, I will try to provide you some guidance alongside with needed materials to build yocto and compile a simple osdp application using your library here. it takes a while for me to do so. I'll let you know when it's ready.
also about the question "Did you have to make some changes to LibOSDP to get to where you are?": I haven't made any changes to your source code yet. and I think the best would

[2021-07-26 17:43] edgecase14 commented on #22
I have a project which requires reading PIV fobs in a Linux environment, and may be able to contribute some work on this.  If anyone is aware of commercially available door readers which support the standard transparent mode, that might be used for interoperability testing of this feature, please speak up!

[2021-07-26 18:58] sidcha commented on #22
@edgecase14, I'm aware of two commercially available readers manufacturers that support Transparent Mode; most notably HID readers and I can arrange for interoperability testing if we have a PR with an acceptable design.

Commit e8db7e1d on branch [trs_dev](https://github.com/goToMain/libosdp/tree/trs_dev) should be a good starting point if you wish to work on this feature. The idea is that TRS mo

[2021-07-26 21:28] mistial-dev commented on #22
I'm part of a group that's forming (Open Physical Working Group) that's trying to put together reference implementations for PACS manufacturers and integrators to use.  We're using PIV as the basis of these reference implementations, and we're going to be relying pretty heavily on transparent mode.

[2021-08-04 15:54] dman66 opened #65 "OSDPCTL PD Mode - Command slab allocation failed"
**Describe the bug**
Upgraded from Release 1.4.0 to Release 1.5.0 and ran a simple test with 2 instances of OSDPCTL talking to each other over RS-485.

After initial exchange the CP side will always fail with Command slab allocation failed.

**Expected behavior**
CP Mode should not have Command slab allocation failed.

**Observed behavior**

OSDP: INFO : CP : CP setup complete
OSDP: PD[0]: Sent [1

[2021-08-04 20:46] sidcha commented on #65
@dman66, Have you tried this on the most recent master? I remember fixing something around this area :)

We are long due for a new release from master (pending some ongoing testing work), so you can safely upgrade without too many regressions.

[2021-08-05 14:07] dman66 commented on #65
Yes, that fixes the issue. When I mentioned I had already tried master I think that was probably over a month ago so I didn't have this fix.

Thanks!

[2021-08-05 15:21] #65 closed

[2021-08-05 17:29] dman66 opened #66 "SC Failed from Install - Release 1.5.0"
**Describe the bug**
Another test with 2 instances of OSDPCTL talking to each other over RS-485.

My configuration had an SCBK from running 1.4.0 and everything worked fine. If I start from INSTALL_MODE it fails with timeouts (CP) and invalid SOM errors (PD).

**Expected behavior**
Negotiate SCBK without constant failures and retries.

**Observed behavior**
CP Log:
OSDP: INFO : CP : CP setup compl

[2021-08-05 19:52] sidcha commented on #66
@dman66, looking into this issue made me discover another issue in master but what you are experiencing appears to be a different issue.

I am unable to reproduce this issue locally. I did a clean build on a branch with `v1.5.0` + 369f3e8. So my tree looked like this:
[code]

Can you post your CP and PD osdpctl config file? Also, [pastbin](https://pastebin.com/) full logs (from boot to failure) wi

[2021-08-05 19:54] sidcha commented on #66
Also what errors are you facing with build on most recent master? I'm able to build everything just fine (CI builds too).

[2021-08-05 20:12] dman66 commented on #66
Regarding 'master' - "git clone https://github.com/goToMain/libosdp --recurse-submodules"

build git:(master) make
-- Failed to find sphinx-build executable (missing: SPHINX_EXECUTABLE)
-- Could NOT find Doxygen (missing: DOXYGEN_EXECUTABLE)
-- Found PythonInterp: /usr/local/opt/python@3.8/bin/python3 (found suitable version "3.8.11", minimum required is "3")
-- Could NOT find PythonLibs (missing:

[2021-08-05 20:17] dman66 commented on #66
**uart-cp.cfg**

[GLOBAL]

mode = CP
num_pd = 1
log_level = 7
conn_topology = chain
master_key = 000102030405060708090a0b0c0d0e0f

[PD-0]

channel_type = uart
channel_device = /dev/tty.usbserial-AG0JKDEH
channel_speed = 9600

address = 0

**uart-pd.cfg**

[GLOBAL]

mode = PD
num_pd = 1
log_level = 7

[PD]

channel_type = uart
channel_device = /dev/tty.usbserial-AG0JKQNV
channel_speed = 9600

#addr

[2021-08-05 20:20] dman66 commented on #66
CP Log : https://pastebin.com/wKxvhMeP
PD Log : https://pastebin.com/1ZqKvqj5

[2021-08-05 20:36] dman66 commented on #66
Never mind the issue with master - had an old version (1.5.0) of osdp.h in /usr/local that was being picked up...

[2021-08-05 20:41] dman66 commented on #66
CP/PD Logs from master:

https://pastebin.com/ssCwVLvF
https://pastebin.com/xeFx4XNf

[2021-08-05 21:00] sidcha commented on #66
On master please apply this patch. I think this should fix your issue.

[code]

[2021-08-05 21:08] dman66 commented on #66
It gets further ... but it SC fails ... but it isn't restarting over and over again.

PD Log: https://pastebin.com/7WUxbMAe
CP Log: https://pastebin.com/wbwJYXzJ

[2021-08-05 21:15] sidcha commented on #66
Now you are hitting the bug I fixed earlier in this thread :)

You need to pull latest master to get 3ce12eb875f3e39716ac211860c1e0a6c0c598d0

[2021-08-05 21:27] dman66 commented on #66
My bad, skimmed right past that commit ... seems to be working well.

Now on to my further testing with the real target CP.

[2021-08-05 21:28] #66 closed

[2021-08-09 17:12] dman66 opened #67 "OSDP: ERROR: PD[0]: PHY: Invalid MAC; discarding SC"
**Describe the bug**
Enabled SC with a commercial CP. Negotiates channel properly then fails and loops forever in failure mode.

**Expected behavior**
Not sure what isn't working to be honest.

**Observed behavior**
libosdp-1.5.0 [master (7190302+)]
OSDP: WARN : PD[0]: PD: SCBK not provided. PD is in INSTALL_MODE
OSDP: PD: Setup complete - libosdp-1.5.0 master (7190302+)
OSDP: DEBUG: PD[0]: PD: CM

[2021-08-10 08:48] sidcha commented on #67
Breaking it down using https://libosdp.gotomain.io/protocol/packet-structure.html

First the PD got a Buzzer command (6a) with sequence number 2
[code]
For which it replied with a NAK (41) with the same sequence number as the capability was not advertised.
[code]
After this transaction, the CP sent the same command with the same sequence number but with a different R-MAC (since the body of the com

[2021-08-10 14:33] dman66 commented on #67
I changed my PD to support buzzer and the problem goes away. What's more, they are also sending an LED command which I also do not support but NAK'ing that is handled OK.

It seems the CP really goes off once I NAK the buzzer.

CP is a Tyco iSTAR Edge G2 with firmware 6.8.5.22814.

[2021-08-10 14:51] sidcha commented on #64
Ping?

[2021-08-11 10:36] sidcha commented on #67
I cannot imagine a sane control flow that would lead to this behaviour :) It is still better to report this issue to Tyco and see if they fix it in future.

Since your issue is resolved, closing this one.

[2021-08-11 10:36] #67 closed

[2021-08-18 20:34] dman66 opened #68 "OSDP_PD_SC_TIMEOUT_MS Value?"
**Describe the bug**
Programmed 2 OSDP readers on OSDP Port 1.

Readers assigned addresses 0 and 2.
Reader address 0 is not connected.
Reader address 2 is PD based on libosdp.

The CP is sending CMD_POLL messages every 50-70ms to address 2 and then the CP sends a CMD_ID to address 0. The timing of CMD_POLL messages when the CMD_ID message is sent is > OSDP_PD_SC_TIMEOUT_MS (400ms).

**Expected beh

[2021-08-18 23:16] sidcha commented on #68
Hi @dman66, the value of `OSDP_PD_SC_TIMEOUT_MS` is not defined by OSDP but is a LibOSDP set limit. It was derived as 2 times the value of `OSDP_RESP_TOUT_MS` which _is_ defined by OSDP to be 200ms (section 5.7 Timing). The spec also mentions that the PD should respond within 3ms typically and if it cannot, it should send `REPLY_BUSY`.

Looks like you are daisy chaining both the PDs so us examine

[2021-08-19 13:57] dman66 commented on #68
Yes, we've been reporting these issues to Tyco as they come up... but yes, so far no responses.

Question:

What if you had 2 offline devices? It seems like the expectation that the CP could stop polling the other devices for 200ms would break the OSDP_PD_SC_TIMEOUT_MS timeout?

Moving each PD to its own RS485 bus is what we are presently doing, but there are only so many ports available.

[2021-08-19 15:39] sidcha commented on #68
That is correct. We really have no option but to wait until the time out has passed as the PD is still allowed to respond within that window. And increasing the OSDP_PD_SC_TIMEOUT_MS to a higher value would result in the same failure with a higher number of PDs being offline.

What we can do is expose a new CP method which the app can use to pass a bitmask of enabled PDs that LibOSDP will refresh.

[2021-08-28 22:24] sidcha commented on #68
@dman66, I doubled the SC timeout after giving some thought to this.

[2021-08-28 22:25] #64 closed

[2021-08-28 22:26] sidcha commented on #64
@mmohtashamirad, feel free to reopen when you have something I can look into.

[2021-08-30 22:47] vk2tds opened #69 "Multiple PD’s in a single piece of code"
The basic issue is that I am wanting to write some code that interfaces to an alarm system with an OSDP bus, and have my code implement four PD’s. As far as I can tell, all the code assumes a single PD per instance.

Running multiple instances of the code, or using multiple instances of the library could work I guess but I am assuming this would involve ‘connections’ to the serial port which depen

[2021-08-31 08:48] sidcha commented on #69
Each PD is tied to a `osdp_t *ctx` object; _no_ part of LibOSDP is assumes a single PD (except for the log level). So you are free to do,

[code]

As a side benefit to this, if you have distinct channels for each PD, then you can run each PD in a separate thread.

[2021-08-31 09:18] vk2tds commented on #69
Thanks for this. As soon as I get the hardware I will check this out.

[2021-09-01 23:20] vk2tds commented on #69
I am still coming up to speed with the library, and I am having some issues with the how to set up the physical layer. I am probably going to want to write my PD code for Zephyr, but it might be Linux. Regardless, I really cannot work out how to extend the base C example PD code to interface to the hardware.

I am guessing this will need, in the case of a UART, to reference channel_open(), channel

[2021-09-02 07:22] sidcha commented on #69
There is already a port of this library on Zephyr RTOS upstream. It has not received much attention lately but still fully functional.

If you are using Linux, you can use the python bindings or the included OSDPCtl tool to setup your PD. If it is Zephyr, physical layer is already implemented for you. For some other platform (or if you want to integrate to your own Linux application)

[2021-09-02 07:27] sidcha commented on #69
This is expected. Long back, I was about to setup a documentation page for it but got distracted. In that land code is the best documentation.

[2021-09-02 10:37] vk2tds commented on #69
Thanks for this. I will definitely check out Zephyr - it looks like an interesting project. It looks like it will do most of what I need.

[2021-09-08 19:57] #69 closed

[2021-09-09 13:33] xJurgen commented on #64
We had same issue with integrating libosdp in yocto.
If you have "recipe-sysroot-native" in line "Found OpenSSL" (in do_configure cmake log), you have to change it to just "recipe-sysroot"
We solved it by adding openssl in recipe dependencies and now everything compiles accordingly.

DEPENDS += "openssl"

Also we compile only libraries, so we added EXTRA_OECMAKE option in recipe aswell

EXTRA_OECM

[2021-09-09 14:28] sidcha commented on #64
@xJurgen, Thanks for letting us know. Please feel free to raise a PR for any changes needed to the library to make it easy for integration into yocto.

If you think that your yocto recipe can be helpful for others, you can send a PR for that too. There a [misc directory](https://github.com/goToMain/libosdp/tree/master/misc) to have configuration files.

[2021-10-09 07:43] vk2tds commented on #69
As a first pass, I have been working on compiling libospd for the STM32 Nucleo 64 using the Arduino toolchain with some degree of success as a PD. It is compiling and running, but alas, is not actually working. I am still working through where the issue is. My code is likely the issue in there as the existing device on the OSDP bus on my InnerRange alarm is going offline with some regularity when

[2021-10-10 06:28] vk2tds opened #70 "Issues trying to use OSDP with an InnerRange Inception"
I am attempting to use LibOSDP with an InnerRange Exception alarm system. I have compiled the library, with some changes onto the STM32 using the Arduino ecosystem.

The exact code I am running lives in the following repositories:
	* https://github.com/vk2tds/libosdp_pd
	* https://github.com/vk2tds/libosdp_arduino

The PD is configured in Install Mode (PD is in INSTALL_MODE)

The PD that I am crea

[2021-10-10 10:46] sidcha commented on #70
From the logs, the CP sent you a CMD_MFG:
[code]
For which your PD replied with:
[code]

Both those are valid OSDP packets. After this, the CP did not send anything for at least `OSDP_PD_SC_TIMEOUT_MS` (which causes the secure channel session to timeout with the message "OSDP: INFO : PD[1]: PD: PD SC session timeout!").

After this, things get interesting, your PD thinks it sees the next command b

[2021-10-21 21:15] sidcha commented on #70
That should fix the sequence mismatch issue (your SC would still timeout as that is due to the CP's inaction). Please redo your tests with this fix and let me know if that works for you.

[2021-10-22 15:04] mazen2000 opened #71 "Broken communication"
I have implemented the libosdp on my gateController (cp mode). Communication is being established using SCBk, the problem is after specific time (30 minutes) The cp stop sending poll request to the reader, and so I can not get any event-callback. After other 30 minutes the connection work again and the cp back to send poll request and functions fine.
I don't understand why cp stop communicate afte

[2021-10-29 21:26] vk2tds commented on #70
Hi. You are **NOT** going to believe this. I **THINK** I have found what is going on.

From the alarms datasheet:
[code]

This sounds all nice and logical. They want you to use their hardware on the device. So, I made contact with the vendor. Their response was as follows

[code]

Essentially, they have implemented an OSDP port that by designs only operates with a superset of the OSDP (0x40 MFG) p

[2021-10-30 05:06] sidcha commented on #70
This doesn't make any sense to me at all :). If the idea is to have vendor locked devices, then why take the trouble of implementing OSPD - a protocol meant to promote interoperability - in the first place? For their sake, I hope this response is from a tech support engineer who doesn't know what he is taking about.

This is a nice idea; but you may have some trouble due to secure channel but that

[2021-10-30 06:41] vk2tds commented on #70
To be honest, I have a feeling that they want to leverage OSDP, but have commercial lock in. This is for their 'lower end' product. Their more expensive one does more explicitly support OSDP. Anyway, I have followed up and will report anything I get back.

I have started with the decoder, and am making progress. As the PD is not locked down, it appears to do a key exchange on power up, meaning tha

[2021-11-14 19:23] katsl commented on #71
I ran into what seems like the same issue. In my case, I tracked it down to an overflow in `osdp_millis_now`/`usec_now` on some platforms (I am running on Raspberry Pi, where the fields of `struct timeval` and the constant `1000L` are 32-bit). I was able to work around it by providing a definition of `osdp_millis_now` in my program and statically linking with `libosdpstatic.a` and `libutils.a`.

T

[2021-11-22 18:12] sidcha commented on #71
@katsl, You are right, `usec_now()` can can overflow if `struct timeval::tv_sec` and `struct timeval::tv_usec` are only 32 bits wide. THB, I didn't know they could even be defined that way :). Thanks for letting us know.

Anyways, I have a fix for that situation by changing that line to:
[code]

@mazen2000, please check the most recent master and let us know if it fixes your issue.

[2021-11-28 08:39] #53 closed

[2021-12-18 07:28] #71 closed

[2021-12-18 07:28] #70 closed

[2022-01-12 15:23] laszlopataki commented on #40
@sidcha The repo has quite changed since the last comment.
Could you please give some updated tips for the porting?
Thank you

[2022-01-12 17:03] laszlopataki opened #72 "Typo in FindMbedTLS.cmake"
There is a small typo at `cmake/FindMbedTLS.cmake:13`
"Failed to find sphinx-build executable"

[2022-01-12 19:15] besmit opened #73 "Error building python related parts"
I'm running into an issue seemingly related to Python.

When issuing the command "make check" within my path "/home/bjorn/libosdp/build" it fails with the following error:
[100%] Running tests..
/bin/sh: 1: py.test: not found
make[3]: *** [pytest/CMakeFiles/check.dir/build.make:77: pytest/CMakeFiles/check] Error 127
make[2]: *** [CMakeFiles/Makefile2:464: pytest/CMakeFiles/check.dir/all] Error 2
m

[2022-01-13 06:21] sidcha commented on #73
Hey Bjorn, sorry of the trouble, yes a lot has changed in the testing area; not so much in the python area.

pytest is a python testing framework. I was using my own makeshift testing suite to test this project from its inception but then switched to pytest to leverage some of the niceness it provides and possible future growth. I have updated the top-level README.md to include instructions on how

[2022-01-13 06:24] sidcha commented on #72
Thanks for letting me know :).

[2022-01-13 06:25] #72 closed

[2022-01-13 07:02] besmit commented on #73
Hi Sidcha,

Tried your pointers which fixed the issue. About the second question you mention to use `cmake ../..` instead of  `cmake ..` I think the readme in the python folder has to be changed as it mentions `cmake ..`

/Bjorn

[2022-01-13 17:08] sidcha commented on #73
@besmit, most users just have one top-level build directory and work from there (as is the convention for cmake projects). I agree the readme in `python/` was misleading which is why I added a point there to indicate that the commands have to be run from repo-root (diff below).

[code]

[2022-01-13 17:08] #73 closed

[2022-02-16 13:05] laszlopataki opened #74 "OSDP_EVENT_FILE_TX missing implementation"
Hi, thank you for the great lib

**Describe the bug**
I am implementing a PD firmware update.
I transfer the image and the signature via multiple FILETRANSFER commands.
After this, the PD reboots and does a self-check.
Finally, PD would report back to CP with OSDP_EVENT_FILE_TX.

- osdp_event_file_tx is missing from `osdp.h:osdp_event` it is missing from the doxygen @params section.
- OSDP_EVENT_F

[2022-02-16 16:06] laszlopataki opened #75 "Manufacturer Specific Reply (osdp_MFGREP) data length is fix 1 bytes"
**Describe the bug**
`osdp.h:struct osdp_event_mfgrep` conatins `length` field and the data length is `OSDP_EVENT_MAX_DATALEN`(64),
Accordingly `SIA-OSDP-2.2-FINAL-120720.pdf:7.18 Manufacturer Specific Reply (osdp_MFGREP)` the Data field is fixed 1 byte.

**Expected behavior**
`osdp.h:struct osdp_event_mfgrep` has 1 bytes Data field.

Update:
The data field is fine, but it is not identical to the

[2022-02-16 21:14] sidcha commented on #74
Hey @laszlopataki, `OSDP_EVENT_FILE_TX ` should not exits, it was part of another design I was considering at the time and missed to remove it fully. :)

According to the spec, the CP has to send a EOF packet with the `offset` set to `file_size` and `length` set to 0. When the PD receives and acknowledges it, both parties know that the transmission session has ended so there is no need to send an

[2022-02-16 21:17] #74 closed

[2022-02-16 21:41] sidcha commented on #75
Good catch thanks!

This seems to be one of those changes in v2.2 which was not the case till v2.1.5 of the specification. There, the data filed can be any length as chosen by the vendor. This allowed some flexibility for me to defined some minimal structure to these commands so the whole length prefixed data thing was a LibOSDP specific extension (IMO, this is how they should have defined the str

[2022-02-16 21:59] sidcha commented on #75
Actually, we are already supporting it both ways :). To be compatible with specification, you just have to set the length field to zero. I'll add comments to clarify this.

[2022-02-16 22:13] #75 closed

[2022-03-02 21:30] carlwain74 opened #76 "Build error with Python Bindings on ARMv7 device"
**Describe the bug**
Cannot build the osdp module

**Expected behavior**
Module should build

**Observed behavior**
First I tried `make python` but this is not a target.
Then I tried `make python_build` and I get the response below.

**Additional context**
Python 3.9.2 (Python 2.7.18 is also available)

**A Comprehensive Log file**
`/usr/lib/python3/dist-packages/setuptools/dist.py:475: UserWarnin

[2022-03-02 22:14] sidcha commented on #76
I just tried to run `make python_build` and it works well for me. Can you try these:
- pull the latest master
- nuke your build directory start over

If those doesn't help, please [pastebin](https://pastebin.com/) the output of the following for further investigation.
[code]

[2022-03-03 03:36] carlwain74 commented on #76
https://pastebin.com/jQXmXWZf

[2022-03-03 20:53] sidcha commented on #76
I tried building it on my Raspberry Pi 4, everything works fine for me (see logs [here](https://pastebin.com/89UKR6vz)). I used the Raspbian image [here](https://downloads.raspberrypi.org/raspios_arm64/images/raspios_arm64-2022-01-28/).

[code]

The only difference is that you seem to be running a 32 bit Raspbian but that should not cause this issue. I think something else in your environment is c

[2022-03-04 07:32] carlwain74 commented on #76
So we were able to make progress by running the following commands

[code]

The make check failed, but I was able to at least fire up the sample apps. However, I have another issue and some questions so I'll close this and create a new issue.

[2022-03-04 07:44] carlwain74 opened #78 "Need help with sending/receiving commands"
So here is what I am trying to achieve

Write a PD emulator which talks to a real CP device. The goal is that we want to inject in different card formats and test our product.

The sample python code does not include POLL or RawData commands so I was unsure how this all fits in.

Up until now I had a python programing using this module (https://github.com/ryanhz/osdp-python), but it only acts as a

[2022-03-04 08:06] carlwain74 commented on #78
ok I removed the random code from the samples and I can see that the PD goes active.

`osdp: CP: INFO : PD101: SC Active`

Now I need to figure out how to send card data from my PD

[2022-03-04 08:23] sidcha commented on #78
POLL is a low level OSDP command that the python LibOSDP abstracts away for you using the high level `refresh()` method.
This is the same as you would do in a C application (calling the `osdp_cp_refresh()`) method.

You can send card data to the CP by creating an even and sending it to the CP using the `notify_event()` call (the python sample is already doing this).

More generally:
- CP sends _co

[2022-03-04 18:06] carlwain74 commented on #78
Many thanks for responding.. The random code was the code you added to randomly send commands. I'm not trying to send commands from CP, just events to the CP for my test infrastructure.

So I need to do two things

1) Generate event on the PD
2) Process the event on the CP

So I tried to send this event data and it crashed.

[code]

[code]

Where is length calculated?

How does the data present it

[2022-03-04 18:22] sidcha commented on #78
This is happening in [python/pyosdp_cmd.c  +487](https://github.com/goToMain/libosdp/blob/master/python/pyosdp_cmd.c#L487). When you set the card type to `CARD_FMT_RAW_WIEGAND` or `CARD_FMT_RAW_UNSPECIFIED`, you are also expected to set the length field in the event dictionary and it has to be the number of bits of data instead of bytes. OTOH, when specifying `CARD_FMT_ASCII`, you have to set it t

[2022-03-04 18:41] carlwain74 commented on #78
Okay, now we are cooking

I'm getting this on the CP side

`Address:  0  Event:  {'event': 0, 'reader_no': 1, 'format': 1, 'direction': 0, 'length': 32, 'data': b'\x0f\x932\x00'}`

[2022-03-04 18:48] carlwain74 commented on #78
Now I need to hook up my PD emulator to a CP and see how that works out. What control panels have you tested against?

[2022-03-04 18:53] sidcha commented on #78
I have tested the CP implementation agains a lot of commercial PDs (including ones from HID). The PD implementation has been tested against our own CP (by means of unit and integration tests); users of LibOSDP have tested it agains real CPs too.

[2022-03-04 19:12] carlwain74 commented on #78
Do you know what version of the Spec you are compliant against.

[2022-03-04 19:55] sidcha commented on #78
The most recent one: OSDP version 2.2.

[2022-03-07 18:29] carlwain74 commented on #78
We can close this issue, thanks for helping out.

[2022-03-07 18:29] #78 closed

[2022-03-21 17:38] Tomcat-Engineering opened #79 "Confusing `temporary` flag in Python LED commands"
**Describe the bug**

Here is how you set the state of the LEDs temporarily:

[code]

However, this command also sets the state of the LEDs temporarily:

[code]

This is because the code is just looking for the *existence* of the `temporary` flag, not its value.  Not sure whether this is intentional but it definitely caught me out and took me a couple of hours to figure out!

**Expected behavior**

[2022-03-21 17:42] sidcha commented on #79
Sorry about that. That is indeed wrong behaviour. Let me take a quick look.

[2022-03-24 17:22] #79 closed

[2022-04-11 14:08] bryanvalletta opened #80 "External Logger port support"
We're integrating this library into our embedded application, and it would be nice to be able to use our currently implemented logging (just console) mechanism to output libosdp messages out-of-box. So offering a way to configure the library to use a logger port would be very useful.

Thanks!

[2022-04-12 02:45] sidcha commented on #80
Hey, this is already supported :). Have a look at `osdp_logger_init` which takes `osdp_log_puts_fn_t` ([doc](https://libosdp.gotomain.io/api/miscellaneous.html#_CPPv416osdp_logger_initi18osdp_log_puts_fn_t)). Let me know if that doesn't fit your use case for some reason.

[2022-04-13 20:30] bryanvalletta commented on #80
I think our specific issue is that we use a logging framework that's actually very similar to what is built into libOSDP (we actually run into build issues when compiling - multiple function definitions). So if there is a way to define a port for all the logging macros that would be useful for our use case.

[2022-04-14 08:43] sidcha commented on #80
Ah, I see. Which project/environment are you building LibOSDP in? Maybe the namespace "logger_" in utils/logger.c is too generic. Can you provide the build logs so I can see what sort of conflicts these are? If it is a known popular project/environment, I can try to refactor names in LibOSDP so they don't conflict there.

Alternatively, you can come up with a solution that works for you and send a

[2022-04-14 13:50] bryanvalletta commented on #80
We're building as a part of a C application using CMake and ARM GCC.

And maybe I will do that haha, I have already forked and made some changes to get them to play nicely, so I can just clean that up a bit!

Also while I have you and unrelated, is there API docs I can reference for the python implementation (specifically for the ControlPanel)?

[2022-04-14 16:57] sidcha commented on #80
Unfortunately no. I haven't gotten around to documenting it yet. The python sample [cp_app.py](https://github.com/goToMain/libosdp/blob/master/samples/python/cp_app.py) should give you an idea of how to use the module. You can also have a look at the list of methods [here](https://github.com/goToMain/libosdp/blob/master/python/pyosdp_cp.c#L338-L354) and each of those methods have a doc string righ

[2022-04-14 20:49] bryanvalletta commented on #80
This is all great info thank you! I will also close this issue and take a stab at implementing the logger framework port as well.

[2022-04-14 20:49] #80 closed

[2022-04-15 02:55] qingkaishi opened #81 "overflow bugs"
https://github.com/goToMain/libosdp/blob/a3eb794b4599094ab6d6c57b3117c2fafdb9a22e/src/osdp_phy.c#L292-L312

There is an overflow bug in the code above.

Line 293 reads the value of `pkt_len` from a message.

Line 294 and Line 299 attempt to validate the packet length, `pkt_len`, which guarantees that  `pkt_len <= min(len, OSDP_PACKET_BUF_SIZE)`

Let us assume `pkt_len = 1` and reach Line 309, `pkt

[2022-04-15 03:31] qingkaishi opened #82 "SEGV on unknown address"
https://github.com/goToMain/libosdp/blob/a3eb794b4599094ab6d6c57b3117c2fafdb9a22e/src/osdp_file.c#L34-L67

In the above code, Line 38 get the pointer `struct osdp_file *f = TO_FILE(pd)`, which may be null, but is dereference at many places in the subsequent code. Particularly, at Line 66, we will call `f->ops.read`, leading to segment fault.

In the file osdp_file.c, there are 7 places, we have th

[2022-04-15 09:48] sidcha commented on #82
Thanks for the report, fixed all four occurrences.

[2022-04-15 09:48] #82 closed

[2022-04-15 10:07] sidcha commented on #81
Thanks again, fixed this by checking if `packet_len` is at least as large as the header:
[code]

[2022-04-15 10:13] #81 closed

[2022-06-02 20:21] carlwain74 commented on #76
I would like to re-open this issue as I want to move beyond 1.5.0 and get running with 2.1.0. I have tried to build, but not getting anything built. Right now I'm using a python module called "osdp".

[2022-06-02 21:11] sidcha commented on #76
Can you help me with some more info on the kind of failure you are seeing?
Am I to assume you are still using the same build environment and your
previous resolution is no longer works?

On Thu, Jun 2, 2022 at 10:21 PM Carl Wainwright ***@***.***>
wrote:

[2022-06-03 04:45] carlwain74 commented on #76
Sorry, after I reopened I did cloned a new repo and it magically worked. I have tested with both a CP and a PD against real HW and it works nicely.

[2022-06-03 19:37] #76 closed

[2022-06-23 16:11] pcpro178 opened #83 "Symbol pd_commnand_callback_t contains spelling typo"
Symbol pd_commnand_callback_t needs to be renamed to pd_command_callback_t to fix spelling typo.

[2022-06-23 16:16] pcpro178 commented on #83
I already have a fix for this, but I'm unable to assign myself to the ticket.  When I try to push the branch, it gives me a permission denied error.

[code]

[2022-06-24 13:05] omnisci3nce commented on #83
Hah, I was about to point this out too.

[2022-07-02 08:05] sidcha opened #84 "OSDP phy packet parse error "Invalid SOM 0xff""
Cross posting issue reported by email:

[2022-07-02 08:15] Thecapn32 commented on #84
I faced this problem in the beginning!
"Would it make sense to have a while loop there instead, and drop all leading bytes until the SOM byte is found?"
this is how I get the message in esp32! because you have to read whatever it's available from the uart buffer , I drop everything till I reach ff 53 and store it in a buffer according to the size that is provided by the higher function!

[2022-07-02 08:30] sidcha commented on #84
Certainly. I just never had to face this situation before. Do you know why the CP flooding the RX buffer with FFs? It has to actively pull the line low to do this (so its no accident).

Even if we workaround the issue above, this is problematic. This current packet will be fine, but the next one would be dropped.

[2022-07-02 08:33] sidcha commented on #83
I'm going to fix this myself and add you as the reporter.

[2022-07-02 08:38] sidcha commented on #83
Fixed in a7913ba5

[2022-07-02 08:38] #83 closed

[2022-07-05 20:33] rsgmodelworks commented on #84
The mercury panel is not flooding the line. It sends two 0xFF frames.  It is expected (and many other PD's) that your packet  detection logic  looks for the SOM to start a packet.  You should not be looking for 0xFF 0x53.

[2022-07-07 20:47] sidcha commented on #84
@rsgmodelworks, I agreed on the look for FF 53 for start of packet part. I do see a _lot_ more than 2 0xFF in the 115200 capture sample. And there is also the tailing 0xFE which tells me something is amiss.

[2022-07-10 16:51] sidcha commented on #84
Now LibOSDP will discard any number of leading mark bytes (and any other junk till it finds the SOM). It also extracts exactly one packet from the RX buffer so the tailing fe should be discarded as junk before processing the next packet.

This should resolve this ticket; feel free to reopen if it doesn't work.

[2022-07-10 16:51] #84 closed

[2022-09-06 08:03] vitalyPru opened #85 "Reply before address check"
phy_check_header() and phy_check_packet() assumes the possibility to send NACK reply before address verification in the packet.
That means all PD's in multi-drop environments  will send replies simultaneously in these cases.

[2022-09-07 20:27] sidcha commented on #85
Yes, indeed. Thanks for reporting the issue.

[2022-09-07 20:27] #85 closed

[2022-09-28 22:01] etorresmn opened #86 "Failed to decode reply KEYPPAD(53) when osdp_KEYPAD response is correct"
I made a very basic application just to run this library but every time I press a key from the keypad of my reader I get a "Failed to decode reply KEYPPAD(53)" error. Looking at the data trace I can see the packet from the PD is correct. Here is a screenshot

![keyppad_fail2](https://user-images.githubusercontent.com/41220656/192888965-c7c9285b-bcce-4035-ae03-714c583a50b3.png)

The packet FF FF 53

[2022-09-30 21:39] etorresmn commented on #86
@ivobelitz thank you very much. The fix works =)

[2022-10-01 16:43] #86 closed

[2022-10-06 20:48] brentswekla opened #87 "data for REPLY_RAW is incorrect"
I have a card encoded in H10302 format (Wiegand 37 bit: 2 parity bits enclosing 35 bits for the card number); the card number happens to fit in 34 bits (leading bit of the card number is 0). When I read that card with the latest version of this library the event reports a 'length' of 37 bits, but the 'data' returned is a 38 bit number, and my 34 bit card number shows up in the 34 most significant

[2022-10-07 12:19] sidcha commented on #87
@brentswekla, the specification says that the data bits are left justified in the `data` byte array. So the last few bits of the bytes boundary (if any) will be zeros. I took a quick look and cannot find anything wrong with the code as it merely breaks down the data and passes it on.

In your case case, there should be 4 bytes of card data (4x8=32bits) and a 5th byte with 5 more data bits (32+5=37

[2022-10-07 14:17] brentswekla commented on #87
Ah - I didn't realize it was left justified. With that taken into account it all works - thanks!!

[2022-10-07 19:00] #87 closed

[2022-11-01 23:38] evera10001001 opened #89 "Add optional void* argument to osdp_set_command_complete_callback"
I've been using the library in C++ using OOP approach, but I faced a problem to deal with the command_complete_callback_t type, it can't be a member function pointer.

So, to solve this I want to propose to add an extra void* arg to osdp_set_command_complete_callback, so at this way I can give the object instance ("this" pointer) to the callback and then I will be able to access to class members i

[2022-11-02 08:08] sidcha commented on #89
That sounds reasonable. And you have described everything needed to be done to support it (except that the python bindings also need to be updated). Would you like to create a PR for it? If not I'll get around to it soon-ish.

PS: this kind of change requests are easier described as a PR, you'd spend almost the same time making the change as you did describing it :)

[2022-11-03 05:04] evera10001001 commented on #89
I'll work on it, I need to fix this to integrate it in my project.

[2022-11-03 05:07] evera10001001 commented on #89
Sorry I clicked wrong button, Is there an special rules I need to follow for PR? Should I create a branch from master branch? Anyways, I'm working in a fork.

[2022-11-03 06:57] sidcha commented on #89
You can create a PR from any branch in your fork, just be sure to create the branch from the most recent master here (or rebase to it). Once you have the branch, make the change, commit (see how other commit messages are formatted) and push it to your fork. Then when you visit your forked repo URL, GitHub will prompt you to create a PR for that branch.

[2022-11-03 07:12] evera10001001 commented on #89
Got it, I see thanks!

[2022-11-03 09:18] sidcha commented on #89
PR #90 merged!

[2022-11-03 09:18] #89 closed

[2022-11-21 20:41] kenhun93 opened #92 "Python.h file missing"
Hi, I currently trying to build python and cant seem to find the python.h file in the build directory nor in the github repo?
Am i missing something, or is the file actually missing?

![image](https://user-images.githubusercontent.com/5854964/203154343-9200c53f-940f-4b90-b6e4-3ca16badbd93.png)

[2022-11-21 21:23] #92 closed

[2022-11-22 17:53] surendersampath opened #93 "Incorrect command ID to instruct a PD to abort on current operation."
**Describe the bug**
Incorrect command ID to instruct a PD to abort on current operation (File Transfer for example).

**Expected behavior**

CP device to send abort command with `osdp_ABORT `COMMAND ID `0xA2`. As per `OSDP V2.2`.

![image](https://user-images.githubusercontent.com/44113702/203384443-339b6d23-d5c4-4e0b-82e5-0db6dce15a46.png)

**Observed behavior**
Library is sending 7A  which is `

[2022-11-22 18:37] sidcha commented on #92
@kenhun93, you need to install the python3 development package (python3-dev on Ubuntu) to get that header.

[2022-11-23 06:40] #93 closed

[2022-11-23 06:42] sidcha commented on #93
@surendersampath, Thanks for reporting the issue, fixed now.

[2022-11-29 21:33] bjyoungblood opened #94 "PD event queue behavior when queue is full"
**Is your feature request related to a problem? Please describe.**
When a PD's event queue is full, calls to `osdp_pd_notify_event` return -1 to indicate a failure. In our use case, we would prefer to have the oldest event dropped from the queue instead of blocking newer events.

**Describe the solution you'd like**
In order to maintain backward-compatibility, the queue-full behavior could be cont

[2022-11-30 20:37] bjyoungblood commented on #94
Primarily because the CP is down. For our use case, we generally aren't expecting the CP to be down for a long time (a typical reason would be the CP rebooting after a firmware update).

That makes sense to me, and I agree with your point about stale events. I wouldn't want a CP to come online and start receiving events from 5 minutes ago (or even 1 minute ago).